.section-title h2 {
    font-size: 30px;
    /* font-weight: normal; */
    /* text-transform: uppercase; */
    /* letter-spacing: 8px; */
    /* border-bottom: 5px solid black; */
    padding-bottom: 10px;
    display: inline-block;
}
.section-title p {
    margin-bottom: 30px;
}
